@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.01em;
}
.container {
    width: 40%;
    margin: auto;
}
.content {
    padding: 0 1em 0 0;
    margin-bottom: 4em;
}
.icons {
    display: flex;
    justify-content: space-between;
}
.reactions {
    display: flex;
    justify-content: space-between;
}
.reactions p {
    margin: 0 1rem 0 0;
}
.fa-regular {
    cursor: pointer;
}
.fa-regular:hover {
    color: blue;
}

.image {
    width: 100%;
}

.image img {
    width: 100%;
    height: 400px;
}

/* Comment Item Styling */

.comment-item {
    background-color: rgb(170, 170, 170, 0.12);
    padding: 5px 5px 5px 20px;
    border-radius: 5px;
}

/* Ask Question Section */
.submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 8vh;
    margin-bottom: 10px;
}

.icon {
    padding: 8px;
}

.question {
    background-color: rgb(170, 170, 170, 0.12);
    padding: 8px 8px 8px 20px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

/* Modal Form */
.modal {
    position: fixed;
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(168, 168, 163, 0.9); /* Fallback color */
}

.modal-content {
    background-color: white;
    width: 50%;
    margin: auto;
    border: 1px solid #aaaaaa;
    padding: 10px;
    border-radius: 10px;
}

.close {
    color: #aaaaaa;
    font-size: 24px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

/* Form in the Modal */
form {
    width: 100%;
    padding: inherit;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

input {
    border: none;
    border-bottom: 1px solid #aaaaaa;
}

.input-group input:focus {
    outline: 0;
}

input[type="textarea"]{
    height: 4em;
}

input[type="submit"]{
    width: auto;
    border: none;
    padding: 8px 10px;
    border-radius: 10px;
    background-color:blue;
    color: white;
}

input[type="reset"]{
    width: auto;
    border: none;
    padding: 8px 10px;
    border-radius: 10px;
    background-color:red;
    color: white;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Comment Section Styling */
#comments {
    margin: 1em 0 2em 0;
    width: 100%;
    display: none;
}

.comment-form {
    width: 100%;
    margin-bottom: 0.5em;
}

#comment {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
}

#comment:focus {
    outline: none;
}